* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*******************END OF RESET****************/
body {
    background-image: url(/images/back.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    color: white;
    backdrop-filter: blur(3px) brightness(60%);
    -webkit-backdrop-filter: blur(3px) brightness(20%);
    font-size: 15px;
    font-family: Tahoma, sans-serif;
}
h1, p {
  margin: 0 auto;
  padding-top: 2rem;
  text-align: center;
}

form {
  width: 60vw;
	max-width: 500px;
	min-width: 260px;
	margin: 0 auto;
}

fieldset {
  border: none;
	padding: 1rem 0;
}

fieldset:not(:last-of-type) {
  border-bottom: 3px solid white;
}

label {
  display: block;
	margin: 1rem 0;
}

input,
textarea,
select {
	margin: 10px 0 0 0;
	width: 100%;
}

.inline {
  width: unset;
  margin: 0px 0.5em 0px 0px ;
}

.submit {
  margin-bottom: 60px;
  width: 80px;
}